@import "@taiga-ui/core/styles/taiga-ui-local.less";

.body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #007BFF, #ffffff);
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background: rgba(255, 255, 255, 0.35); /* Прозрачный белый фон */
  padding: 60px;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}
.top-container {
  text-align: center;
  padding: 20px;
}

.organization-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.organization-label {
  font-size: 32px;
  font-weight: bold;
  color: #007BFF;
  margin-bottom: 10px;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}


.form-input {
  padding: 10px;
}


[tuiWrapper][data-appearance='custom'] {
  background: #35d52f;
  color: #fff;

  .wrapper-hover({
    background: #7cf17c;
  });

  .wrapper-active({
    background: #ade89a;
  });

  .wrapper-disabled({
    background: #eaecee;
  });
}
