<tui-island class="tui-island">
  <form [formGroup]="mainQuestionsFG">
    <!--    ACCORDION-->
    <div
      class="tui-space_bottom-5"
      *ngFor="let field of fields; let questionIndex = index"
      [formGroupName]="'questions_'+questionIndex"
    >
      <tui-accordion-item class="container">
        {{field.content}}
        <ng-template tuiAccordionItemContent>
          <div class="tui-row tui-space_bottom-6">
            <tui-textarea
              class="tui-col_md-6"
              [tuiTextfieldCleaner]=true
              tuiTextfieldSize="l"
              formControlName="content"
            >
              {{ field.content }}
              <textarea
                maxlength="97"
                placeholder="{{field.content}}"
                tuiTextfield
              ></textarea>
            </tui-textarea>
            <tui-combo-box
              class="tui-col_md-6"
              [formControl]="field.type"
              [stringify]="comboBoxStringify"
              [tuiTextfieldLabelOutside]="true"
            >
              {{comboBoxFields[0].value}}
              <tui-data-list-wrapper
                *tuiDataList
                [itemContent]="comboBoxStringify | tuiStringifyContent"
                [items]="comboBoxFields | tuiFilterByInputWith: comboBoxStringify"
              >
              </tui-data-list-wrapper>
            </tui-combo-box>
          </div>
          <!--          TODO: по combobox отриросывать по type: либо *ngIf=comboBox.type (внутри component) либо попробовать по # -->
          <!--          One to Many-->
          <ng-container
            class="tui-row"
            *ngIf="field.type.value.type === QuestionType.SINGLE_CHOICE"
          >
            <div class="group" formArrayName="variants">
              <button
                appearance="outline"
                tuiButton
                class="tui-space_bottom-5"
                size="s"
                (click)="addVariant(questionIndex)"
              >
                Добавить Вариант
              </button>
              <tui-elastic-container
                *ngFor="let variant of field.variants; let variantIndex=index"
                class="tui-space_bottom-5"
              >
                <!--<tui-radio-block contentAlign="right" size="l"
                                 [pseudoDisabled]="false"
                                 formControlName="content"
                                 [item]="variant.content">
                  {{variant.content}}
                </tui-radio-block>-->
                <div class="tui-row" [formGroupName]="variantIndex">
                  <tui-input
                    class="tui-col_md-10"
                    [tuiTextfieldCleaner]="true"
                    tuiTextfieldSize="l"
                    formControlName="content"
                  >
                    {{variant.content}}
                    <input
                      tuiTextfield
                    />
                  </tui-input>
                  <div class="group button_group_variants" tuiGroup orientation="horizontal">
                    <button
                      appearance="flat"
                      icon="tuiIconCopy"
                      shape="rounded"
                      size="s"
                      title="Copy"
                      tuiIconButton
                      (click)="copyVariant(questionIndex, variantIndex)"
                    ></button>
                    <button
                      appearance="flat"
                      icon="tuiIconTrash"
                      shape="rounded"
                      size="s"
                      title="Remove"
                      tuiIconButton
                      (click)="removeVariant(questionIndex, variantIndex)"
                    ></button>
                  </div>
                </div>
              </tui-elastic-container>
            </div>
          </ng-container>

          <ng-container class="tui-row" tuiAccordionItemContent>
            <!--        Нижняя панель управления вопросом - Компонент-->
            <hr class="tui-space_bottom-5 size-2">
            <div tuiGroup class="group" [collapsed]="true">
              <button
                appearance="outline"
                tuiButton
                size="s"
                (click)="addField(questionIndex)"
              >
                Добавить
              </button>
              <button
                appearance="outline"
                tuiButton
                size="s"
                (click)="removeField(questionIndex)"
              >
                Удалить
              </button>
            </div>
          </ng-container>
        </ng-template>
      </tui-accordion-item>
    </div>
    <button
      tuiButton
      size="xl"
      class=""
      type="submit"
      (click)="onSubmit()"
    >
      Сохранить
    </button>
  </form>
</tui-island>

