@import '@taiga-ui/core/styles/taiga-ui-local.less';

.tiles {
  width: 100%;
  height: 100%;
  //gap: 12rem;
  // * var(Количество объектов внутри)
  gap: 15rem 1rem;
  //min-height: 16rem;
  min-height: auto;
  margin-bottom: 40dvmin;
  grid-auto-rows: minmax(var(--tui-height-s), auto);
}

@media @tui-mobile {
  .tile_tall {
    --tui-height: 2;
  }
}

.tile:before {
  content: 'Drop here';
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--tui-base-04);
  border-radius: var(--tui-radius-l);
  border: 2px dashed var(--tui-base-03);
}

.content {
  .transition(box-shadow);
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  //height: 100%;
  margin: 0 0;
  //padding: 5% 0;
  overflow: hidden;

  tui-tile._dragged & {
    box-shadow: var(--tui-shadow-hover);
  }
}

.handle {
  .transition(opacity);
  position: absolute;
  justify-content: center;
  background: var(--tui-base-01);
  opacity: 0;
  cursor: move;

  tui-tiles:not(._dragged) tui-tile:hover &,
  tui-tile._dragged & {
    opacity: 0.7;
  }
}



.wrapper:not(:last-child) {
  margin-bottom: 1rem;
}

.remove {
  margin-left: auto;
}

.titleplace {
  display: flex;
  align-items: center;
  margin: 0;
}
.button_group_variants{
  align-items: center;
}
