<form [formGroup]="interpretationFormGroup">
  <!--<form
    *tuiLet="scaleItems$ | async as items"
    class="b-form"
    [tuiTextfieldCleaner]="true"
  >
    <tui-combo-box
      class="tui-space_bottom-5"
      tuiTextfieldSize="l"
      [formControl]="scaleFromGroup"
      [stringify]="scaleChooseStringify"
      [valueContent]=""
      (tuiValueChanges)="changeScaleCombobox()"
      (searchChange)="onSearchChange($event)"
    >
      Найти шкалу по названию
      <input
        placeholder="Type a name"
        tuiTextfield
        (input)="onSearchChange(extractValueFromEvent($event))"
      />
      <tui-data-list-wrapper
        *tuiDataList
        [itemContent]="scaleChooseStringify | tuiStringifyContent"
        [items]="items"
      ></tui-data-list-wrapper>
    </tui-combo-box>
  </form>-->
  <tui-textarea
    class="tui-space_bottom-5"
    tuiTextfieldSize="l"
    formControlName="name"
  >
    Название
    <textarea
      maxlength="97"
      placeholder="Название"
      tuiTextfield
    ></textarea>
  </tui-textarea>
  <tui-textarea
    class="tui-space_bottom-5"
    tuiTextfieldSize="l"
    formControlName="description"
  >
    Описание
    <textarea
      maxlength="97"
      placeholder="Описание"
      tuiTextfield
    ></textarea>
  </tui-textarea>
  <div formArrayName="interpretations" class="tui-space_bottom-5 accodion">
    <ng-container
      class="tui-space_bottom-5"
      *ngFor="let field of fields; let i = index;"
      [formGroupName]="i">
      <tui-accordion-item>
        {{ i }}
        <ng-template tuiAccordionItemContent>
          <div class="interpretationLabelInputs">
            <tui-textarea
              class="tui-space_bottom-5"
              style="width: 100%"
              tuiTextfieldSize="l"
              formControlName="description"
            >
              {{ field.description }}
              <textarea
                maxlength="97"
                placeholder="Пояснение"
                tuiTextfield
              ></textarea>
            </tui-textarea>
            <div class="inputs">
              <tui-input-number
                class="b-form"
                formControlName="minValue"
              >
                Минимальное
              </tui-input-number>
              <tui-input-number
                class="b-form tui-space_bottom-5"
                formControlName="maxValue"
              >
                Максимальное
              </tui-input-number>
            </div>
          </div>
          <!--          Удалить интерпретацию-->
          <hr class="tui-space_bottom-5 size-2">
          <button
            appearance="flat"
            tuiButton
            title="Удалить Вопрос"
            size="s"
            icon="tuiIconTrash2Large"
          >
          </button>
        </ng-template>
      </tui-accordion-item>
    </ng-container>
    <!--        Нижняя панель управления вопросом - Компонент-->
    <button
      class="w-fit"
      appearance="flat"
      tuiButton
      title="Добавить"
      icon="tuiIconPlusLarge"
      size="l"
      (click)="addField(fields.length)"
    >
    </button>
  </div>
</form>
<div class="group" tuiGroup>
  <button
    tuiButton
    size="xl"
    class=""
    type="submit"
    (click)="onSubmit()"
  >
    Сохранить
  </button>
  <button
    appearance="secondary-destructive"
    tuiButton
    title="Удалить Вопрос"
    size="xl"
    icon="tuiIconTrash2Large"
    (click)="deleteInterpretation()"
  >
    Удалить
  </button>
</div>

