<form [formGroup]="interpretationFormGroup">
  <form
    *tuiLet="scaleItems$ | async as items"
    class="b-form"
    [tuiTextfieldCleaner]="true"
  >
    <tui-combo-box
      class="tui-space_bottom-5"
      tuiTextfieldSize="l"
      [formControl]="scaleFromGroup"
      [stringify]="scaleChooseStringify"
      [valueContent]=""
      (tuiValueChanges)="changeScaleCombobox()"
      (searchChange)="onSearchChange($event)"
    >
      Найти шкалу по названию
      <input
        placeholder="Type a name"
        tuiTextfield
        (input)="onSearchChange(extractValueFromEvent($event))"
      />
      <tui-data-list-wrapper
        *tuiDataList
        [itemContent]="scaleChooseStringify | tuiStringifyContent"
        [items]="items"
      ></tui-data-list-wrapper>
    </tui-combo-box>
  </form>
  <div formGroupName="scale" class="tui-space_bottom-5">
    <tui-textarea
      class="tui-space_bottom-5"
      tuiTextfieldSize="l"
      formControlName="name"
    >
      Название
      <textarea
        maxlength="97"
        placeholder="Название"
        tuiTextfield
      ></textarea>
    </tui-textarea>
    <tui-textarea
      class="tui-space_bottom-5"
      tuiTextfieldSize="l"
      formControlName="description"
    >
      Описание
      <textarea
        maxlength="97"
        placeholder="Описание"
        tuiTextfield
      ></textarea>
    </tui-textarea>
  </div>
  <tui-accordion>
    <ng-container *ngFor="let field of fields; let i = index;">
      <tui-accordion-item>
        1
        <ng-template tuiAccordionItemContent>
          <div class="interpretationLabelInputs">
            <tui-textarea
              class="tui-space_bottom-5"
              style="width: 100%"
              tuiTextfieldSize="l"
              formControlName="description"
            >
              Интерпретация шкалы
              <textarea
                maxlength="97"
                placeholder="Пояснение"
                tuiTextfield
              ></textarea>
            </tui-textarea>
            <div class="inputs">
              <tui-input-number
                class="b-form"
                formControlName="minValue"
              >
                Минимальное
              </tui-input-number>
              <tui-input-number
                class="b-form tui-space_bottom-5"
                formControlName="maxValue"
              >
                Максимальное
              </tui-input-number>
            </div>
          </div>
          <!--        Нижняя панель управления вопросом - Компонент-->
          <ng-container class="tui-row" tuiAccordionItemContent>
            <hr class="tui-space_bottom-5 size-2">
            <div tuiGroup class="group" [collapsed]="true">
              <button
                appearance="flat"
                tuiButton
                title="Добавить Вопрос"
                icon="tuiIconPlusSquareLarge"
                size="s"
                (click)="addField(i)"
              >
              </button>
              <button
                appearance="flat"
                tuiButton
                title="Удалить Вопрос"
                size="s"
                icon="tuiIconTrash2Large"
              >
              </button>
              <label class="tui-space_right-2"> Обязательный вопрос
                <tui-toggle
                  formControlName="required"
                  title="Обязательный вопрос"
                  size="l"
                  [showIcons]="true"
                ></tui-toggle>
              </label>
            </div>
          </ng-container>
        </ng-template>
      </tui-accordion-item>
    </ng-container>
  </tui-accordion>
</form>
<div class="group" tuiGroup>
  <button
    appearance="secondary-destructive"
    tuiButton
    title="Удалить Вопрос"
    size="xl"
    icon="tuiIconTrash2Large"
    (click)="deleteInterpretation()"
  >
    Удалить
  </button>
  <button
    tuiButton
    size="xl"
    class=""
    type="submit"
    (click)="onSubmit()"
  >
    Сохранить
  </button>
</div>

