<div class="align-middle justify-items-center flex-auto">
  <tui-app-bar class="color">
    <button
      appearance="secondary"
      icon="tuiIconPlus"
      tuiButton
      tuiSlot="right"
    >
      Create
    </button>
    <button
      iconRight="tuiIconBell"
      tuiIconButton
      tuiSlot="right"
    >
      Notifications
    </button>
    <app-dropdown-menu-nav tuiSlot="right"/>
    <a
      icon="tuiIconUserLarge"
      title="User"
      tuiIconButton
      tuiSlot="right"
      (click)="logout()"
    ></a>
    <button
      appearance="secondary"
      iconLeft="tuiIconGrid"
      tuiIconButton
      tuiSlot="left"
    >
      <tui-icon icon="tuiIconHome"></tui-icon>
    </button>
    <a
      routerLink="/rehabilitation/data"
      tuiSlot="left"
    >
      Название организации
    </a>
  </tui-app-bar>

</div>
