@import '@taiga-ui/core/styles/taiga-ui-local.less';

//tui-app-bar {
//  .shadow(6);
//  width: auto;
//  margin-bottom: 1rem;
//}
tui-app-bar {
  box-shadow: var(--tui-shadow-navigation);
  width: 30rem;
  margin-bottom: 1rem;
}

.header{
}

.color {
  color: var(--tui-link);
}

.mobileDisplayNone{
  @media @tui-mobile {
    display: none;
  }
}
