<div class="align-middle justify-items-center flex-auto">
  <tui-app-bar class="color">
    <button
      iconRight="tuiIconBell"
      tuiIconButton
      tuiSlot="right"
    >
      Notifications
    </button>
    <app-dropdown-menu-nav tuiSlot="right"/>
    <a
      title="User"
      tuiIconButton
      icon="tuiIconUserLarge"
      tuiSlot="right"
      (click)="logout()"
    ></a>
    <a
      tuiSlot="left"
      routerLink="/form/list"
    >
      RehabSurvey
    </a>
  </tui-app-bar>
</div>
