@import '@taiga-ui/core/styles/taiga-ui-local.less';

tui-app-bar {
  .shadow(6);
  width: auto;
  margin-bottom: 1rem;
}

.color {
  color: var(--tui-link);
}

.mobileDisplayNone{
  @media @tui-mobile {
    display: none;
  }
}
