<div class="container">
  <!--    ПОЛЯ-АНКЕТЫ (name, description) ОБЯЗАТЕЛЬНЫЕ НЕИЗМЕНЯЕМЫЕ ПОЛЯ-->
  <form [formGroup]="formGroup" (ngSubmit)="onSubmitForm()">
    <tui-island
      class="tui-space_bottom-5"
      [hoverable]=false
      size="l"
      textAlign="left">

      <div *ngFor="let rfield of requestedFields; let i = index">
        <tui-textarea
          class="tui-space_bottom-5"
          [tuiTextfieldSize]="rfield.size"
          formControlName="{{rfield.name}}">
          {{ rfield.label }}
          <textarea
            maxlength="97"
            placeholder="{{rfield.label}}"
            tuiTextfield
          ></textarea>
        </tui-textarea>
      </div>

      <label>
        <tui-combo-box
          [formControl]="scaleControl"
          [stringify]="stringify"
          [tuiTextfieldLabelOutside]="true"
        >
          Шкала
          <tui-data-list-wrapper
            *tuiDataList
            [itemContent]="stringify | tuiStringifyContent"
            [items]="items | tuiFilterByInputWith: stringify"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </label>

    </tui-island>
  </form>
  <!--    ВОПРОС-КОНСТРУКТОР НЕОБЯЗАТЕЛЬНЫЕ ИЗМЕНЯЕМЫЕ ПОЛЯ -->

  <form [formGroup]="questionFormGroup" (ngSubmit)="onSubmit()">
    <tui-tiles
      class="tiles"
      [(order)]="order"
    >
      <tui-tile
        *ngFor="let field of fields; let index = index"
        tuiTileHandle
        [class.tile_tall]="field.name === 'field0'"
        [style.order]="order.get(index)"
      >
        <div class="content">
          <button tuiButton>Test</button>
          <!--<tui-textarea
            class="justify-center"
            [tuiTextfieldCleaner]=true
            [tuiTextfieldSize]="field.size"
            formControlName="{{field.name}}"
          >
            {{ field.label }}
            <textarea
              maxlength="97"
              placeholder="{{field.label}}"
              tuiTextfield
            ></textarea>
          </tui-textarea>
          <ng-template tuiAccordionItemContent>
            &lt;!&ndash;        Нижняя панель управления вопросом - Компонент&ndash;&gt;
            <div tuiGroup class="group" [collapsed]="true">
              <button
                appearance="outline"
                tuiButton
                size="s"
                (click)="addField()"
              >
                Добавить
              </button>
              <button
                appearance="outline"
                tuiButton
                size="s"
                (click)="removeField(index)"
              >
                Удалить
              </button>
            </div>
          </ng-template>-->
        </div>
      </tui-tile>
    </tui-tiles>
      <button
        tuiButton
        size="xl"
        type="submit"
        (click)="onSubmitForm()"
      >
        Сохранить
      </button>
  </form>
</div>

