<div class="container">
  <!--    ПОЛЯ-АНКЕТЫ (name, description) ОБЯЗАТЕЛЬНЫЕ НЕИЗМЕНЯЕМЫЕ ПОЛЯ-->
  <form [formGroup]="mainFG" (ngSubmit)="onSubmitForm()">
    <tui-island
      class="tui-space_bottom-5"
      [hoverable]=false
      size="l"
      textAlign="left">

      <div *ngFor="let rfield of notEditableFields; let i = index">
        <tui-textarea
          class="tui-space_bottom-5"
          [tuiTextfieldSize]="rfield.size"
          formControlName="{{rfield.name}}">
          {{ rfield.label }}
          <textarea
            maxlength="97"
            placeholder="{{rfield.label}}"
            tuiTextfield
          ></textarea>
        </tui-textarea>
      </div>

      <label>
        <tui-combo-box
          [formControl]="scaleControl"
          [stringify]="scaleChooseStringify"
          [tuiTextfieldLabelOutside]="true"
        >
          Шкала
          <tui-data-list-wrapper
            *tuiDataList
            [itemContent]="scaleChooseStringify | tuiStringifyContent"
            [items]="scaleItems | tuiFilterByInputWith: scaleChooseStringify"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </label>

    </tui-island>
  </form>
  <!--    ВОПРОС-КОНСТРУКТОР НЕОБЯЗАТЕЛЬНЫЕ ИЗМЕНЯЕМЫЕ ПОЛЯ -->

  <form [formGroup]="questionsFG" (ngSubmit)="onSubmit()">
    <tui-island class="tui-island">
      <tui-tiles
        class="tiles"
        [(order)]="order"
      >
        <tui-tile
          class="content"
          *ngFor="let field of fields; let index = index"
          tuiTileHandle
          [class.tile_tall]="field.name === 'field0'"
          [style.order]="order.get(index)"
        >
          <tui-island class="justify-items-center">
            <div class="tui-row tui-space_bottom-5">
              <tui-textarea
                class="tui-col_md-6"
                [tuiTextfieldCleaner]=true
                [tuiTextfieldSize]="field.size"
                formControlName="{{field.name}}"
              >
                {{ field.label }}
                <textarea
                  maxlength="97"
                  placeholder="{{field.label}}"
                  tuiTextfield
                ></textarea>
              </tui-textarea>
              <tui-combo-box
                class="tui-col_md-6"
                [formControl]="field.relationBox"
                [stringify]="comboBoxStringify"
                [tuiTextfieldLabelOutside]="true"
              >
                {{comboBoxFields[0].value}}
                <tui-data-list-wrapper
                  *tuiDataList
                  [itemContent]="comboBoxStringify | tuiStringifyContent"
                  [items]="comboBoxFields | tuiFilterByInputWith: comboBoxStringify"
                ></tui-data-list-wrapper>
              </tui-combo-box>
            </div>
            <ng-container tuiAccordionItemContent>
              <!--        Нижняя панель управления вопросом - Компонент-->
              <div tuiGroup class="group" [collapsed]="true">
                <button
                  appearance="outline"
                  tuiButton
                  size="s"
                  (click)="addField(index)"
                >
                  Добавить
                </button>
                <button
                  appearance="outline"
                  tuiButton
                  size="s"
                  (click)="removeField(index)"
                >
                  Удалить
                </button>
              </div>
            </ng-container>
          </tui-island>
        </tui-tile>
      </tui-tiles>
    </tui-island>
    <button
      tuiButton
      size="xl"
      class=""
      type="submit"
      (click)="onSubmitForm()"
    >
      Сохранить
    </button>
  </form>
</div>

