<div class="container">
  <!--    ПОЛЯ-АНКЕТЫ (name, description) ОБЯЗАТЕЛЬНЫЕ НЕИЗМЕНЯЕМЫЕ ПОЛЯ-->
  <form [formGroup]="mainFG" (ngSubmit)="onSubmitForm()">
    <tui-island
      class="tui-space_bottom-5"
      [hoverable]=false
      size="l"
      textAlign="left"
    >
      <div *ngFor="let rfield of notEditableFields; let i = index">
        <tui-textarea
          class="tui-space_bottom-5"
          [tuiTextfieldSize]="rfield.size"
          formControlName="{{rfield.name}}">
          {{ rfield.label }}
          <textarea
            maxlength="97"
            placeholder="{{rfield.label}}"
            tuiTextfield
          ></textarea>
        </tui-textarea>
      </div>

      <label>
        <tui-combo-box
          [formControl]="scaleControl"
          [stringify]="scaleChooseStringify"
          [tuiTextfieldLabelOutside]="true"
        >
          Шкала
          <tui-data-list-wrapper
            *tuiDataList
            [itemContent]="scaleChooseStringify | tuiStringifyContent"
            [items]="scaleItems | tuiFilterByInputWith: scaleChooseStringify"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </label>

    </tui-island>
  </form>
  <!--    ВОПРОС-КОНСТРУКТОР НЕОБЯЗАТЕЛЬНЫЕ ИЗМЕНЯЕМЫЕ ПОЛЯ -->
  <app-question-constructor [anketa]="forms[1]"></app-question-constructor>
</div>

