@import '@taiga-ui/core/styles/taiga-ui-local.less';

.container {
  max-width: 75%;
  padding: 0 15% 15%;
}

.input-container {
  position: relative;
}

.input-container::after {
  content: 'Подсказка';
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 12px;
  color: #777;
}



