@import '@taiga-ui/core/styles/taiga-ui-local.less';

.tui-col_md-4{
  @media @tui-mobile{
    width: -webkit-fill-available;
  }
}
.mobileDescription{
  display: none;
  @media @tui-mobile{
    display: flex;
  }
}
