<div class="tui_row">
  <ng-container *ngFor="let f of interpretations" >
    <div class="tui-col_md-4 tui-space_top-4">
      <a
        [routerLink]="['/scale/', f.id]"
        size="l"
        tuiIsland
        [hoverable]="true"
      >
        <div class="tui-island__content">
          <div>
            <tui-line-clamp
              [content]="daenerys"
              [lineHeight]="20"
              [linesLimit]="2"
            ></tui-line-clamp>
            <ng-template #daenerys>
              <div class="hint">
<!--                <h3 class="tui-island__title">{{ f. }}</h3>-->
                <h3 class="tui-island__title">
                  {{f.name}}
                </h3>
                <p class="tui-island__paragraph">
                  {{ f.description }}
                </p>
              </div>
            </ng-template>
            <div class="">
              <p class="tui-island__paragraph demo-1">
                {{ f.description }}
              </p>
            </div>
            <!--<tui-badge
              class="flex-auto"
              value="Успешно"
              status="success"
            ></tui-badge>-->
          </div>
        </div>
      </a>
    </div>
  </ng-container>
</div>
