<div class="container">
  <!--    ПОЛЯ-АНКЕТЫ (name, description) ОБЯЗАТЕЛЬНЫЕ НЕИЗМЕНЯЕМЫЕ ПОЛЯ-->
  <div *ngIf="interpretation$ | async; else loading">
    <form [formGroup]="interpretationFormGroup">
      <tui-island
        class="tui-space_bottom-5"
        [hoverable]=false
        size="l"
        textAlign="left"
      >
        <tui-textarea
          class="tui-space_bottom-5"
          tuiTextfieldSize="l"
          formControlName="description"
        >
          Интерпретация шкалы
          <textarea
            maxlength="97"
            placeholder="Пояснение"
            tuiTextfield
          ></textarea>
        </tui-textarea>
        <tui-input-number
          class="b-form"
          formControlName="minValue"
        >
          Минимальное
        </tui-input-number>
        <tui-input-number
          class="b-form tui-space_bottom-5"
          formControlName="maxValue"
        >
          Максимальное
        </tui-input-number>

        <div formGroupName="scale" class="tui-space_bottom-5">
          <button
            size="m"
            tuiButton
            class="tui-space_bottom-5"
            type="button"
            (click)="showDialog(template)"
          >
            Show
          </button>
          <ng-template
            #template
            let-observer
          >
            <form
              [formGroup]="interpretationFormGroup"
              *tuiLet="scaleItems$ | async as items"
              class="b-form"
              [tuiTextfieldCleaner]="true"
            >
              <tui-combo-box
                class="tui-space_bottom-5"
                tuiTextfieldSize="l"
                formControlName="scale"
                [stringify]="scaleChooseStringify"
                [valueContent]=""
                (searchChange)="onSearchChange($event)"
              >
                Найти шкалу по названию
                <input
                  placeholder="Type a name"
                  tuiTextfield
                  (input)="onSearchChange(extractValueFromEvent($event))"
                />
                <tui-data-list-wrapper
                  *tuiDataList
                  [itemContent]="scaleChooseStringify | tuiStringifyContent"
                  [items]="items"
                ></tui-data-list-wrapper>
              </tui-combo-box>
            </form>
            <button
              size="m"
              tuiButton
              type="button"
              (click)="observer.complete()"
            >
              Готово
            </button>
          </ng-template>

          <tui-textarea
            class="tui-space_bottom-5"
            tuiTextfieldSize="l"
            formControlName="name"
          >
            Название
            <textarea
              maxlength="97"
              placeholder="Название"
              tuiTextfield
            ></textarea>
          </tui-textarea>
          <tui-textarea
            class="tui-space_bottom-5"
            tuiTextfieldSize="l"
            formControlName="description"
          >
            Описание
            <textarea
              maxlength="97"
              placeholder="Описание"
              tuiTextfield
            ></textarea>
          </tui-textarea>
        </div>
      </tui-island>

      <ng-template #defaultScale>
        <!--       component with default data -->
      </ng-template>
      <div class="group" tuiGroup>
        <button
          tuiButton
          size="xl"
          class=""
          type="submit"
          (click)="onSubmit()"
        >
          Сохранить
        </button>
      </div>

    </form>
  </div>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>

  <!--    ВОПРОС-КОНСТРУКТОР НЕОБЯЗАТЕЛЬНЫЕ ИЗМЕНЯЕМЫЕ ПОЛЯ -->

</div>

